In [1]:
import numpy as np
import pandas as pd
import openpyxl

In [2]:
df1 = pd.read_excel("2022_年間売上表.xlsx")
df1

     売上年        商品  金額（千円）
0   2022        紅茶    1200
1   2022      ハチミツ    1000
2   2022      セッケン    1300
3   2022        紅茶     800
4   2022  アロマキャンドル     900
5   2022      ハチミツ     300
6   2022      ハチミツ     560
7   2022    ワイングラス     850
8   2022  アロマキャンドル     810
9   2022        包丁     940
10  2022        水筒    1150

In [3]:
df2 = pd.read_excel("2023_年間売上表.xlsx")
df2

     売上年        商品  金額（千円）
0   2023        紅茶    1200
1   2023      ハチミツ    1000
2   2023        水筒     250
3   2023     コーヒー豆     860
4   2023      セッケン    1300
5   2023        紅茶     670
6   2023  アロマキャンドル     900
7   2023    ワイングラス     850
8   2023        包丁     940
9   2023     フライパン     670
10  2023        水筒    1150

In [4]:
df3 = pd.concat([df1,df2],axis=0,ignore_index=True)
df3

     売上年        商品  金額（千円）
0   2022        紅茶    1200
1   2022      ハチミツ    1000
2   2022      セッケン    1300
3   2022        紅茶     800
4   2022  アロマキャンドル     900
5   2022      ハチミツ     300
6   2022      ハチミツ     560
7   2022    ワイングラス     850
8   2022  アロマキャンドル     810
9   2022        包丁     940
10  2022        水筒    1150
11  2023        紅茶    1200
12  2023      ハチミツ    1000
13  2023        水筒     250
14  2023     コーヒー豆     860
15  2023      セッケン    1300
16  2023        紅茶     670
17  2023  アロマキャンドル     900
18  2023    ワイングラス     850
19  2023        包丁     940
20  2023     フライパン     670
21  2023        水筒    1150

In [5]:
grouped = df3.groupby(["商品","売上年"]).sum()
grouped

               金額（千円）
商品       売上年
アロマキャンドル 2022    1710
         2023     900
コーヒー豆    2023     860
セッケン     2022    1300
         2023    1300
ハチミツ     2022    1860
         2023    1000
フライパン    2023     670
ワイングラス   2022     850
         2023     850
包丁       2022     940
         2023     940
水筒       2022    1150
         2023    1400
紅茶       2022    2000
         2023    1870

In [6]:
df = grouped_df3 = grouped.reset_index()
print(df)

          商品   売上年  金額（千円）
0   アロマキャンドル  2022    1710
1   アロマキャンドル  2023     900
2      コーヒー豆  2023     860
3       セッケン  2022    1300
4       セッケン  2023    1300
5       ハチミツ  2022    1860
6       ハチミツ  2023    1000
7      フライパン  2023     670
8     ワイングラス  2022     850
9     ワイングラス  2023     850
10        包丁  2022     940
11        包丁  2023     940
12        水筒  2022    1150
13        水筒  2023    1400
14        紅茶  2022    2000
15        紅茶  2023    1870

In [7]:
df = pd.DataFrame(data = grouped_df3)

In [8]:
df.to_excel("売上一覧表.xlsx",sheet_name="Sheet",index=False)

In [12]:
from openpyxl import load_workbook
from openpyxl.styles import PatternFill

wb = load_workbook("売上一覧表.xlsx")
ws = wb.active

cell_range = ws["A1:C1"]
pattern_fill = PatternFill(patternType="solid" ,fgColor="F2F2F2")
for row in cell_range:
    for cell in row:
        cell.fill = pattern_fill

wb.save("売上一覧表1.xlsx")